.background {
  position: fixed;
  inset: 0;
  background-color: hsla(0, 0%, 0%, 0.8);
  z-index: 1;
}

.main {
  --outline-color: var(--primary-20) !important;
  --outline-thickness: 4px !important;

  min-width: 200px;
  padding-top: 0;
  overflow: hidden;
}

.main p:nth-child(1) {
  width: 150%;
  background-color: var(--primary-20);

  font-size: 1.5rem;
  text-align: center;
}

.main p:nth-child(2) {
  padding-block: 8px;
}

.main button {
  background-color: var(--primary-25);
  border: none;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 16px;

  transition: 0.1s;

  &:hover {
    background-color: var(--primary-23);
  }
}
