.main-game {
  display: grid;
  margin-top: 20px;
  grid-template: repeat(3, 110px) / repeat(3, 110px);
  align-items: center;
  background-color: var(--primary-25);
  padding: 10px;
  gap: 5px;
}

.cell {
  /* Custom Border */
  --outline-color: var(--background-20) !important;
  --outline-thickness: 2px;
  /* Custom Border */

  outline: none;

  height: 100%;

  background-color: var(--primary-30);
  border-radius: 10px;

  cursor: pointer;

  transition: 0.1s;

  &:hover {
    border-radius: 20px;
    background-color: var(--primary-25);
  }

  &:active {
    border-radius: 25px;
    background-color: var(--primary-25);
  }
}

.cell.cross {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("../../../../assets/Cross.svg");
}

.cell.circle {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("../../../../assets/Circle.svg");
}
