@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@300;400;500;600&display=swap");

:root {
  --background-5: hsl(250, 40%, 5%);
  --background-10: hsl(250, 40%, 10%);
  --background-20: hsl(250, 40%, 20%);

  --primary-20: hsl(250, 50%, 20%);
  --primary-23: hsl(250, 50%, 23%);
  --primary-25: hsl(250, 50%, 25%);
  --primary-30: hsl(250, 50%, 30%);
  --primary-35: hsl(250, 50%, 35%);
  --primary-40: hsl(250, 50%, 40%);
}

.body {
  margin: 0;
}

.background {
  z-index: -100;
  position: fixed;
  inset: 0;
  background-image: radial-gradient(circle at 50%, var(--background-5), var(--background-20));
}

* {
  color: white;
  font-size: 1rem;
  font-family: "Playpen Sans", cursive, Arial;
}

p {
  margin: 0;
}

/* CSS Variables */

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.outline {
  --outline-color: var(--primary-40);
  --outline-thickness: 2px;

  border: var(--outline-thickness) solid var(--outline-color);
}

.shadow-outline {
  --shadow-color: var(--background-5);
  --shadow-size: 6px;

  box-shadow: 0px 0px var(--shadow-size) var(--shadow-color);
}
